<?xml version="1.0" encoding="UTF-8"?>
<web-app >
<welcome-file-list>  
   <welcome-file>login.jsp</welcome-file>  
   
  </welcome-file-list>  

  <servlet>
  
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.matrubhoomi.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
</web-app>